/* Nike Mens - Prototype
 *
 *	+ portable elements
 *	
 */

/* form elements */
.btn-primary
{
   font-size:13px;

   text-transform:uppercase;

   color:#000;
   border-color:#ddd;
   border-radius:2px;
   background-color:#fff;
}