/* Nike Mens - Prototype
 *
 *	mixins
 *	
 */

@mixin nke-header-type($size) {
  font-size: size;
  font-family:$brand-font-header;
  font-size:2.5em;
  font-weight:700;
  line-height:40px;

  text-transform:uppercase;
}


@mixin nke-subheader-type($size) {

  font-family:$brand-font-subheader;
  font-size:$size;
  font-weight:400;
}



